
<section class="oneProductSection">
    <div class="espacioBtAtras">

        <button class="btAtras" (click)="goBack()">←Atrás</button>
    </div>
    <div class="oneProductContainer">
        <div class="imgContainer">
            <img class="imgProd" src="{{product?.image}}" alt="imgProd">
        </div>
        <div class="infoProduct">
            <h2 class="titulo">{{product?.title}}</h2>
            <p class="categoria">* {{product?.category}}</p>
            <p class="descripcion">{{product?.description}}</p>
            <p class="precio"> Bs. {{product?.price}}</p>
        </div>
    </div>
</section>