section{
    width: 100%;
    // height: 91vh;
    height: auto;
    // background-color: aqua;
    display: flex;
    justify-content: center;

}
.containerProductos{
    // background-color: red;
    display: flex;
    width: 85vw;
    // height: 87vh;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
// .productos{
//     // background-color: white;
// }
